
body {
    color: yellow;
}


/* This is ignored by the computer */

.hello { /* Selects for all elements with class="hello" on it */
    color: red;
}

/* hello there */
/* CTRL + / comments out whatever is selected  */


/** NOT GREAT OPTIONS **/

div { /* Selects for all div elements you crazy person */
    color: blue;
}

#something { /* Selects for one element with id="something" */
    color: green;
}

.hello, div, #something { /* Any of those three matching will be selected */

}

