/* Element Selector - too broad */
/* button {
    background-color: blue;
} */

/* ID Selector - too specific */
/* #see-more-button {
    background-color: green;
} */

/* Class Selector - just right
reusable but doesn't affect things we don't want it to*/
/* .red-button {
    background-color: red;
} */

/* Text properties are inherited */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #4F5D61;
    color: white;
    padding: 0.7rem;
}

/* Any "a" tags (links) inside of something with the class of "navbar" */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 7px;
}

/* :hover says only select a tags that are currently being hovered */
.navbar a:hover {
    background-color: #2c3639;
}

.navbar h1 {
    margin: 0;
    margin-bottom: 0.8rem;
}

/* user agent stylesheet = browser default styling */

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.jumbo-image {
    width: 100%;
}