/* I use this selector in almost all projects to set up any font stuff and background color */
body {
    background-color: lightblue;
    /* font-family will be inherited throughout the whole page */
    font-family: Arial, Helvetica, sans-serif;
}

/* Probably too generic */
h1 {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.special-heading {
    color: blue;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}