/* Most properties that get inherited 
are about text (size, color, alignment) */
/* user agent stylesheet = brower's default styling */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

.navbar {
    background-color: #4F5D61;
    color: white;
    padding: 0.7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Select all a tags that are currently 
being hovered and inside something with 
the class of navbar */
.navbar a:hover {
    color: lightgray;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.8rem;
}

/* To put block-level elements 
next to each other use flexbox */
/* I do NOT recommend using: float, 
position, or a table */


/* If you want to vertically center something, 
flexbox is the way to go */


.heading-area {
    background-image: url(images/chair.jpg);
    height: 20rem;
    background-position: 80% center;
    background-size: cover;
}