body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: green
}

.navbar {
    background: #8AA430;
    padding: 10px;
    color: white;
    display: flex;
}

.navbar ul {
    padding: 0;
    display: flex;
}

.navbar li {
    list-style-type: none;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: darkgreen;
}

.white-background {
    background: rgba(112, 104, 104, 0.7);
}

/* h1 {
    font-size: 10rem;
} */

.prince-humperdink {
    color: pink;
}

#princess-buttercup {
    color: green;
}

.color-changing-hover {
    color: blue;
}

.color-changing-hover:hover {
    color: red;
}

img {
    width: 100%
}

body{
    width: 440px;
    height: 440px;
    background-color: rgb(131, 201, 241);
    background-image: radial-gradient(rgb(247, 103, 127) 10%, transparent 11%),
        radial-gradient(#f8f7f3 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    
}