
body {
    color: #333;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4F5D61;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 1.3rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.navbar li {
    padding: 0 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.header-image {
    width: 100%;
}

button {

}

.btn-important {
    
}